######################################################################
# Ansible Managed File
######################################################################
# This file is managed via Ansible. Direct modifications will be lost
#   on the next execution of Ansible.
######################################################################

[Unit]
Description=API Server for Klipper
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ ansible_user }}
SupplementaryGroups=moonraker-admin
RemainAfterExit=yes
WorkingDirectory={{ moonraker_path }}
EnvironmentFile={{ printer_data_path }}/systemd/moonraker.env
ExecStart={{ moonraker_env_path }}/bin/python $MOONRAKER_ARGS
Restart=always
RestartSec=10