######################################################################
# Ansible Managed File
######################################################################
# This file is managed via Ansible. Direct modifications will be lost
#   on the next execution of Ansible.
######################################################################

MOONRAKER_ARGS="{{ moonraker_path }}/moonraker/moonraker.py --unixsocket {{ printer_data_path}}/comms/klippy.sock --datapath {{ printer_data_path }} --configfile {{ klipper_cfg_path }}/{{ inventory_hostname }}/moonraker.cfg --logfile {{ printer_data_path }}/logs/moonraker.log"
