######################################################################
# Ansible Managed File
######################################################################
# This file is managed via Ansible. Direct modifications will be lost
#   on the next execution of Ansible.
######################################################################

MOONRAKER_DATA_PATH="{{ printer_data_path }}"
MOONRAKER_ARGS="-m moonraker --configfile {{ printer_cfg_path }}/moonraker.cfg"
PYTHONPATH="{{ moonraker_path }}"
