# This file contains common pin mappings for the BIGTREETECH th_yellow

[mcu th_yellow]
canbus_interface: can0
canbus_uuid: d2410dbecd99

[temperature_sensor th_yellow]
sensor_type: temperature_mcu
sensor_mcu: th_yellow
min_temp: 0
max_temp: 100

[adxl345]
cs_pin: th_yellow: PB12
spi_software_sclk_pin: th_yellow: PB10
spi_software_mosi_pin: th_yellow: PB11
spi_software_miso_pin: th_yellow: PB2
axes_map: x,y,z

##################################################
# Endstops/Probe Settings
##################################################

[probe]
pin: th_yellow: PB8
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5%}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ PROBE_TEMP }
        {% endif %}
    {% endif %}

##################################################
# Extruder Settings
##################################################

[extruder]
step_pin: th_yellow: PD0
dir_pin: th_yellow: PD1
enable_pin: !th_yellow: PD2
microsteps: 16
heater_pin: th_yellow: PB13
sensor_type:MAX31865
sensor_pin: th_yellow: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
interpolate: False
uart_pin: th_yellow: PA15
run_current: 0.650
stealthchop_threshold: 0

##################################################
# Fan Settings
##################################################

[fan]
pin: th_yellow: PA1

[heater_fan hotend_fan]
pin: th_yellow: PA0
heater: extruder
heater_temp: 50.0

##################################################
# Toolhead RGB LEDs
##################################################

[neopixel _hotend_led]
pin: th_yellow:PD3
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0