# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

[mcu]
canbus_interface: can0
canbus_uuid: 34bd56b28cc1

[temperature_sensor mainboard]
sensor_type: temperature_mcu
sensor_mcu: mcu
max_temp: 100

##################################################
# X/Y Stepper Settings
##################################################

## Motor 1 / A Stepper / Left
[stepper_y]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
endstop_pin: tmc2209_stepper_x:virtual_endstop

[tmc2209 stepper_y]
uart_pin: PC13
diag_pin: PF4
interpolate: False
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 70  # 255 is most sensitive, 0 is least sensitive

## Motor 2 / B Stepper / Right
[stepper_x]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
endstop_pin: tmc2209_stepper_y:virtual_endstop

[tmc2209 stepper_x]
uart_pin: PE3
diag_pin: PF3
interpolate: False
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 70  # 255 is most sensitive, 0 is least sensitive

##################################################
# Z Stepper Settings
##################################################

# Z0 Stepper - Front Right on Motor4
[stepper_z]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: PB5
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 1

# Z1 Stepper - Rear Right on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 1

# Z2 Stepper - Rear Left on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 1

# Z3 Stepper - Front Left on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6

[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 1

##################################################
# Bed Heater Settings
##################################################

# Bed heater -> PF5
# HE0 -> PA0
# HE1 -> PA1
# HE2 -> PA3
# HE3 -> PA5

[heater_bed]
heater_pin: PA1 # HE1
sensor_pin: PB1 # THB
sensor_type: Generic 3950
pwm_cycle_time: 0.02088

##################################################
# Fans
##################################################

# Fan0 -> PF7
[fan_generic bed_fan]
pin: PF7
max_power: 1.0

# Fan1 ->PF9
# Fan2 -> PF6
# Fan3 -> PF8
# Fan4 -> PA4

[multi_pin controller_fan_pins]
pins: PF8, PA4

[controller_fan controller_fan]
pin: multi_pin:controller_fan_pins
max_power: 0.3
heater:
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3

# Fan 5 -> PA6, tachometer on PC2

# Fan 6 -> PA2, tachometer oon PC1

##################################################
# Thermistor Settings
##################################################

# THB -> PB1
# TH0 -> PB0
# TH1 -> PC5
# TH2 -> PC4
# TH3 -> PA7

[temperature_sensor chamber]
sensor_type: PT1000
sensor_pin: PB0 # TH0
pullup_resistor: 2210