[server]
host: 0.0.0.0
port: 7125
klippy_uds_address: /home/spoiler/printer_data/comms/klippy.sock

[authorization]
force_logins: False
trusted_clients:
    10.13.1.0/24
    10.13.50.0/24
    127.0.0.0/8
    FE80::/10
    ::1/128
cors_domains:
    *.lan
    *.local
    *.printer.alextac.com
    *.home.alextac.com
    *://localhost
    *://localhost:*
    *://my.mainsail.xyz
    *://app.fluidd.xyz

[file_manager]
enable_object_processing: True

[octoprint_compat]

[history]

[update_manager]
channel: dev
refresh_interval: 168

# [update_manager klipper]
# type: web
# path: ~/klipper
# origin: https://github.com/Klipper3d/klipper.git
# managed_services: klipper

# [update_manager fluidd]
# type: git_repo
# path: ~/fluidd
# origin: https://github.com/fluidd-core/fluidd.git
# managed_services: fluidd

# # Crowsnest update_manager entry
# [update_manager crowsnest]
# type: git_repo
# path: ~/crowsnest
# origin: https://github.com/mainsail-crew/crowsnest.git
# managed_services: crowsnest
# install_script: tools/pkglist.sh
