##################################################
# Includes
##################################################

# Fluidd Configs
[include ../fluidd.cfg]

# MCUs
[include cb1.cfg]
[include btt_manta_m8p.cfg]

##################################################
# Genearl Settings
##################################################

[virtual_sdcard]
path: /printer/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
max_z_velocity: 40
max_z_accel: 500
square_corner_velocity: 5.0

# [probe]
# x_offset: 0
# y_offset: 0
# z_offset: -0.4

[exclude_object]

[respond]

[pause_resume]

[idle_timeout]
timeout: 1800