
# [gcode_macro _NOZZLE_VARS]
#     variable_should_wipe
#     variable_start_x: 35          # starting X position - offset a bit to the left from the brush
#     variable_start_y: 345         # starting Y position - offset a bit to the front of the brush
#     variable_start_z: 9           # starting Z position - This should barely touch the surface of the brush
#     variable_x_min: 40            # left side of the brush 
#     variable_x_max: 76            # right side of the brush
#     variable_y_min: 355           # front side of the brush - make sure the nozzle is over the last line of bristles 
#     variable_y_max: 360           # rear side of the brush - make sure the nozzle is over the first line of bristles
#     variable_z1: 9.0              # second z height of the nozzle over the brush - this should be with the nozzle slightly sunk in
#     variable_z2: 8.3              # third z height of the nozzle over the brush - this should be with the nozzle fully sunk into the brush, but not touching the bottom of it.
#     variable_wipe_qty: 2          # how many times to run the cleaning sequence
#     variable_wipe_spd: 200        # cleaning speed
#     variable_raise_distance: 30   # z height after cleaning is done

#     gcode:

##################################################
# Includes
##################################################

# Fluidd Configs
[include ../fluidd.cfg]

# Macros
[include ../Macros/base_macros.cfg]
[include ../Macros/sensorless.cfg]
[include ../Macros/nozzle.cfg]

# MCUs
[include host.cfg]
[include tophat.cfg]
[include btt_manta_m8p.cfg]

# Toolheads
[include toolheads/yellow.cfg]

##################################################
# General Settings
##################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
max_z_velocity: 100
max_z_accel: 500
square_corner_velocity: 5.0

[probe]
x_offset: 0
y_offset: 0
#z_offset: -1.125

[exclude_object]

[respond]

[pause_resume]

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: True

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 25, 25
mesh_max: 325, 325
probe_count: 5,5

[quad_gantry_level]
speed: 250
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.01
max_adjust: 10
gantry_corners:
	-60,-10
	410,420
points:
	100,  20
	100, 330
	250, 330
	250,  20

##################################################
# Input Shaper Settings
##################################################

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 50.2
# Suggested max x accel: 7400mm/s^2
shaper_type_y: mzv
shaper_freq_y: 32.8
# Suggested max y accel: 3200mm/s^2

[resonance_tester]
accel_chip: adxl345
probe_points: 175, 175, 30

##################################################
# Extruder Settings
##################################################

[firmware_retraction]
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_length: 0.5
#   The speed of retraction, in mm/s. The default is 20 mm/s.
retract_speed: 40
#   The length (in mm) of *additional* filament to add when unretracting.
unretract_extra_length: 0
#   The speed of unretraction, in mm/s. The default is 10 mm/s.
unretract_speed: 40

[extruder]
pressure_advance: 0.03
nozzle_diameter: 0.4  		# mm
filament_diameter: 1.750    # mm
rotation_distance: 4.637
full_steps_per_rotation: 200
control: pid
pid_Kp: 35.406
pid_Ki: 8.430
pid_Kd: 37.176
min_temp: 0
max_temp: 280
max_extrude_only_distance: 200.0
max_extrude_only_velocity: 120
max_extrude_cross_section: 5

##################################################
# Bed Heater Settings
##################################################

[heater_bed]
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 43.705
pid_ki: 1.301
pid_kd: 367.121

##################################################
# Motor Settings
##################################################

# B Stepper on Motor1
[stepper_x]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
position_min: -3
position_endstop: -3
position_max: 354
homing_speed: 40
homing_retract_dist: 0

# A Stepper on Motor2
[stepper_y]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
position_min: -9
position_endstop: 352
position_max: 352
homing_speed: 40
homing_retract_dist: 0

# Z0 Stepper on Motor4
[stepper_z]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128
position_max: 340
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

# Z1 Stepper on Motor5
[stepper_z1]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

# Z2 Stepper on Motor6
[stepper_z2]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

# Z3 Stepper on Motor7
[stepper_z3]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.075
