##################################################
# Includes
##################################################

# Fluidd Configs
[include ../fluidd.cfg]

# MCUs
[include cb1.cfg]
[include btt_manta_m8p.cfg]

# Macros
[include ../Macros/base_macros.cfg]
[include ../Macros/sensorless.cfg]
[include ../Macros/filament_macros.cfg]
[include ../Macros/nozzle.cfg]

##################################################
# Genearl Settings
##################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
max_z_velocity: 40
max_z_accel: 500
square_corner_velocity: 5.0

# [probe]
# x_offset: 0
# y_offset: 0
# z_offset: -0.4

[exclude_object]

[respond]

[pause_resume]

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: True

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 25, 25
mesh_max: 325, 325
probe_count: 5,5

[quad_gantry_level]
speed: 250
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.01
max_adjust: 10
gantry_corners:
	-60,-10
	410,420
points:
	100,  20
	100, 330
	250, 330
	250,  20

##################################################
# Extruder Settings
##################################################

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

##################################################
# Bed Heater Settings
##################################################

[heater_bed]
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 39.206
pid_ki: 1.300
pid_kd: 295.512

##################################################
# Motor Settings
##################################################

# B Stepper on Motor1
[stepper_x]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
position_min: -1
position_endstop: -1
position_max: 351
homing_speed: 20
homing_retract_dist: 0

# A Stepper on Motor2
[stepper_y]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
position_min: -0.5
position_endstop: 361
position_max: 361
homing_speed: 20
homing_retract_dist: 0

# Z0 Stepper on Motor4
[stepper_z]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128
position_max: 340
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3
position_endstop: 0

# Z1 Stepper on Motor5
[stepper_z1]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

# Z2 Stepper on Motor6
[stepper_z2]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

# Z3 Stepper on Motor7
[stepper_z3]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128