
[mcu TopHat]
canbus_uuid: e5b564f5f070

# [temperature_sensor TopHat_NTC]
# sensor_type: temperature_mcu
# sensor_pin: TopHat
# min_temp: 0
# max_temp: 100

##################################################
# Fans
##################################################



##################################################
# LED Settings
##################################################

[neopixel case_lights]
pin: TopHat:PD3
color_order: WRGB
chain_count: 12
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0