
[mcu TopHat]
canbus_uuid: e5b564f5f070

# [temperature_sensor TopHat_NTC]
# sensor_type: temperature_mcu
# sensor_pin: TopHat
# min_temp: 0
# max_temp: 100

[filament_switch_sensor filament_switch]
switch_pin: TopHat:PB9
pause_on_runout: False
runout_gcode:
  _FILAMENT_RUNOUT SENSOR=filament_switch
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor filament_encoder]
switch_pin: TopHat:PB8
detection_length: 10
extruder: extruder
pause_on_runout: False
runout_gcode:
  _FILAMENT_RUNOUT SENSOR=filament_encoder
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

##################################################
# Fans
##################################################



##################################################
# LED Settings
##################################################

[neopixel case_lights]
pin: TopHat:PD3
color_order: WRGB
chain_count: 12
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
