[include fan_macros.cfg]
[include filament_macros.cfg]
[include lights_macros.cfg]
[include adaptive_purge_macros.cfg]

##########################
##### Generic Macros #####
##########################

[delayed_gcode _startup]
initial_duration: 1
gcode:
    _CASE_LIGHTS_STARTUP
    LIGHTS_AUTO

[gcode_macro START_PRINT]
gcode:
    # Import parameters from slicer
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    {% set FILAMENT_TYPE = params.FILAMENT_TYPE|default('None')|string %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|int %}

    # Run through startup sequence
    LIGHTS_AUTO                     ; Set case lights to auto
    BED_MESH_CLEAR                  ; Clear bed mesh
    G90                             ; Use absolute coordinates
    M140 S{BED_TEMP}                ; Set bed temp
    M104 S150                       ; Set Extruder temp to 150 for Tap
    _start_chamber_fans FILAMENT_TYPE={FILAMENT_TYPE} CHAMBER_TEMP={CHAMBER_TEMP}     ; Set chamber fans based on filament type
    G28                             ; Home X/Y/Z

    CLEAN_NOZZLE
    
    M190 S{BED_TEMP}                ; Wait for bed temp before continuing with calibration

    # Calibrate all
    QUAD_GANTRY_LEVEL               ; Gantry Leveling
    G28                             ; Rehome after quad gantry leveling
    BED_MESH_CALIBRATE adaptive=1   ; Run a bed mesh

    # Finish startup sequence
    M109 S{EXTRUDER_TEMP}
    _LINE_PURGE

[gcode_macro PARK_TOOLHEAD]
gcode:
    G91                             ; Relative positioning
    G1 Z2 F3000                     ; move nozzle up 2mm
    G90                             ; absolute positioning
    G0  X30 Y355 F3600              ; park nozzle at rear


[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X175 Y175 Z30 F3600   

[gcode_macro END_PRINT]
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off part cooling fan
    _end_chamber_fans              ; end print chamber fan sequence
    PARK_TOOLHEAD
    BED_MESH_CLEAR

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    BASE_CANCEL_PRINT
    END_PRINT