
[gcode_macro _start_chamber_fans]
gcode:
    {% set FILAMENT_TYPE = params.FILAMENT_TYPE|default('None')|string %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|int %}

    {% if params.FILAMENT_TYPE == 'PLA' %}
        RESPOND TYPE=command MSG='PLA fan config'
        # Turn the FilterFan off and Exhaust Fan on
        _set_chamber_fans FILTER_FAN_SPEED=0.0 EXHAUST_FAN_TEMP={CHAMBER_TEMP}

    {% elif params.FILAMENT_TYPE == 'PETG' %}
        RESPOND TYPE=command MSG='PETG fan config'
        # Turn the FilterFan off and ExhaustFan on
        _set_chamber_fans FILTER_FAN_SPEED=0.0 EXHAUST_FAN_TEMP={CHAMBER_TEMP}

    {% elif params.FILAMENT_TYPE == 'ABS' or params.FILAMENT_TYPE == 'ASA' %}
        RESPOND TYPE=command MSG='ABS/ASA fan config'
        # Turn the FilterFan on (chamber heating) and exhaust fan off
        _set_chamber_fans FILTER_FAN_SPEED=0.7 EXHAUST_FAN_TEMP={CHAMBER_TEMP}

    {% else %}
        RESPOND TYPE=command MSG='default fan config'
        # Turn the FilterFan off and ExhaustFan off
        _set_chamber_fans FILTER_FAN_SPEED=0.0 EXHAUST_FAN_TEMP={CHAMBER_TEMP}

    {% endif %}


[gcode_macro _end_chamber_fans]
gcode:
    # Turn FilterFan off and ExhaustFan on to cool down the chamber
    _set_chamber_fans FILTER_FAN_SPEED=0.0 EXHAUST_FAN_TEMP=40


[gcode_macro _set_chamber_fans]
gcode:
    {% set FILTER_FAN_SPEED = params.FILTER_FAN_SPEED|default(0)|float %}
    {% set EXHAUST_FAN_TEMP = params.EXHAUST_FAN_TEMP|default(0)|float %}

    {% if "fan_generic filter_fan" in printer %}
        SET_FAN_SPEED FAN=filter_fan SPEED={FILTER_FAN_SPEED}
    {% endif %}

    {% if "temperature_fan chamber" in printer %}
        SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target={EXHAUST_FAN_TEMP}
    {% endif %}
