#################################################
#####            Filament Macros            #####
#################################################

####################################################
# Public Macros
####################################################

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set filament_vars = printer["gcode_macro _FILAMENT_VARS"] %}
    SAVE_GCODE_STATE NAME=unload_state                  # Save state to be able to revert back to it

    M83                                                 # Set to relative mode for extruder
    G92 E0                                              # Set extruder position to 0
    G1 E{filament_vars.unload_purge_distance} F{filament_vars.purge_speed * 60}     # Purge a bit to soften tip
    G1 E-{filament_vars.unload_distance} F{filament_vars.purge_speed * 60}          # Retract the rest of the way!

    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set filament_vars = printer["gcode_macro _FILAMENT_VARS"] %}
    SAVE_GCODE_STATE NAME=load_state
    
    M83                                                 # Set to relative mode for extruder
    G92 E0                                              # Set extruder position to 0
    G1 E{filament_vars.load_distance} F{filament_vars.purge_speed * 60}             # Load filament
    G1 E-{filament_vars.load_retract_distance} F{filament_vars.purge_speed * 60}    # Retract a bit to avoid oozing

    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro MOVE_TO_PURGE]
gcode:
    {% set filament_vars = printer["gcode_macro _FILAMENT_VARS"] %}
    # Check if we're homed, fail if not
    {% if printer.toolhead.homed_axes != "xyz" %}
        { action_raise_error("Please home XYZ first") }
    {% else %}
        G91
        G1 Z2 F3000
        G90
        G1 X{filament_vars.park_x} Y{filament_vars.park_y} Z{filament_vars.park_z} F7800
    {% endif %}

[gcode_macro _RUNOUT_PAUSE]
gcode:
    {% if printer.idle_timeout.state == "Printing" and not printer.pause_resume.is_paused %}
        PAUSE
    {% else %}
        RESPOND TYPE=echo MSG="Ignoring duplicate filament runout pause"
    {% endif %}

########################
# Private Macros
########################
[gcode_macro _FILAMENT_RUNOUT]
gcode:
    { action_respond_info("RUNOUT: Filament runout") }
    _SET_TOOLHEAD_STATUS_LED mode="filament_runout"
    {% if printer.idle_timeout.state == "Printing" %}
        M118 {printer.idle_timeout.state}
        PAUSE
    {% endif %}
    {% if printer.toolhead.homed_axes == "xyz" %}
        MOVE_TO_PURGE
    {% endif %}
    

[gcode_macro _FILAMENT_INSERT]
gcode:
    { action_respond_info("RUNOUT: Filament inserted") }
    _SET_TOOLHEAD_STATUS_LED mode="filament_load"
    _FILAMENT_LOAD
    _SET_TOOLHEAD_STATUS_LED mode="default"


# [gcode_macro _FILAMENT_LOAD]
# gcode:
#     {% set filament_vars = printer["gcode_macro _FILAMENT_VARS"] %}
#     {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}

#     SAVE_GCODE_STATE NAME=load_state                    # Save state to be able to revert back to it
#     _FILAMENT_CHANGE_HEATUP
    
#     # Load Filament
#     M83                                                 # Set to relative mode for extruder
#     G92 E0                                              # Set extruder position to 0
#     G1 E{filament_vars.load_distance} F{max_velocity * 60}                 # Fast Load
#     G1 E{filament_vars.purge_distance} F{filament_vars.purge_speed * 60}   # Purge slowly to finish it off

#     RESTORE_GCODE_STATE NAME=load_state                 # Restore initial state


# [gcode_macro _FILAMENT_UNLOAD]
# gcode:
#     {% set filament_vars = printer["gcode_macro _FILAMENT_VARS"] %}
#     {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity | int %}

#     SAVE_GCODE_STATE NAME=unload_state      # Save state to be able to revert back to it
#     _FILAMENT_CHANGE_HEATUP                 # Heat up if necessary

#     {% if printer["filament_switch_sensor filament_sensor"].filament_detected == True %}
#         # Unload with tip forming
#         { action_respond_info("Forming filament tip and Unloading Filament...") }
#         G91
#         _TIP_FORM_GENERIC
#         G1 E-10.00 F1200.0
#     {% else %}
#         # Unload in an unknown state
#         { action_raise_error("Filament not detected! Cancelling Filament Unload...") }
#     {% endif %}
#     M83                                                                 # Set extruder to relative
#     G92 E0                                                              # Set extruder position to 0s
#     G1 E-{filament_vars.unload_distance} F{max_velocity * 60}           # Fast Unload

#     RESTORE_GCODE_STATE NAME=unload_state   # Restore initial state

[gcode_macro _FILAMENT_CHANGE_HEATUP]
gcode:
    {% set filament_vars = printer["gcode_macro _FILAMENT_VARS"] %}

    # Check to see if heated up. Heat to default temp if not
    {% if printer.extruder.temperature < filament_vars.min_temp %}
        M109 S{ filament_vars.default_temp }
    {% endif %}

[gcode_macro _TIP_FORM_GENERIC]
gcode:
    {% set params = printer["gcode_macro _FILAMENT_VARS"] %}
    
    SAVE_GCODE_STATE NAME=tip_form_state
    G91
    G92 E0

    SET_PRESSURE_ADVANCE ADVANCE=0

    # Retraction
    {% set total_retraction_distance = params.cooling_tube_retraction|float + params.cooling_tube_length|float / 2 - 15 %}
    G1 E-15 F{1.0 * params.unloading_speed_start|float * 60}
    G1 E-{0.7 * total_retraction_distance} F{1.0 * params.unloading_speed_start|float * 60}
    G1 E-{0.2 * total_retraction_distance} F{0.5 * params.unloading_speed_start|float * 60}
    G1 E-{0.1 * total_retraction_distance} F{0.3 * params.unloading_speed_start|float * 60}

    # Generate Cooling Moves
    {% set speed_inc = (params.final_cooling_speed|float - params.initial_cooling_speed|float) / (2 * params.cooling_moves|float - 1.0) %}
    {% for move in range(params.cooling_moves|int) %}
        G1 E{params.cooling_tube_length} F{(params.initial_cooling_speed|float + speed_inc * move * 2) * 60}
        G1 E-{params.cooling_tube_length} F{(params.initial_cooling_speed|float + speed_inc * (move * 2 + 1)) * 60}
    {% endfor %}

    G92 E0

    RESTORE_GCODE_STATE NAME=tip_form_state
