#################################################
#####             Lights Macros             #####
#################################################

########################
# Public Macros
########################


[gcode_macro LIGHTS_ON]
gcode:
    _CASE_LIGHTS_DISPLAY mode="always_on"
    _SET_TOOLHEAD_LED mode="default"
    _SET_TOOLHEAD_STATUS_LED mode="auto"


[gcode_macro LIGHTS_OFF]
gcode:
    _CASE_LIGHTS_DISPLAY mode="always_off"
    _SET_TOOLHEAD_LED mode="off"
    _SET_TOOLHEAD_STATUS_LED mode="off"


[gcode_macro LIGHTS_AUTO]
gcode:
    _CASE_LIGHTS_DISPLAY mode="auto"
    _SET_TOOLHEAD_LED mode="auto"
    _SET_TOOLHEAD_STATUS_LED mode="auto"


[gcode_macro]


########################
# Private Caselight Macros
########################


[gcode_macro _CASE_LIGHTS_DISPLAY]
gcode:
    {% set mode = params.MODE %}

    {% if mode == 'auto' %}
        SET_LED_TEMPLATE LED=case_lights TEMPLATE=case_lights_auto
    {% elif mode == 'always_on' %}
        SET_LED_TEMPLATE LED=case_lights TEMPLATE=
        SET_LED LED=case_lights RED=1.0 GREEN=1.0 BLUE=1.0
    {% elif mode == 'always_off' %}
        SET_LED_TEMPLATE LED=case_lights TEMPLATE=
        SET_LED LED=case_lights RED=0.0 GREEN=0.0 BLUE=0.0
    {% else %}
        # Cancel any LED template
        SET_LED_TEMPLATE LED=case_lights TEMPLATE=
    {% endif %}


[gcode_macro _CASE_LIGHTS_STARTUP]
gcode:
    {% set speed = 100 %}
    {% set led_num = printer.configfile.config['neopixel case_lights'].chain_count|int %}
    SET_LED LED=case_lights RED=0.0 GREEN=0.0 BLUE=0.0
    {% for i in range((led_num/2)|int) %}
        SET_LED LED=case_lights RED=1.0 GREEN=1.0 BLUE=1.0 INDEX={i+1} TRANSMIT=0
        SET_LED LED=case_lights RED=1.0 GREEN=1.0 BLUE=1.0 INDEX={led_num-i} TRANSMIT=1
        G4 P{speed}
    {% endfor %}

    {% for i in range((led_num/2)|int)|reverse %}
        SET_LED LED=case_lights RED=0.0 GREEN=0.0 BLUE=0.0 INDEX={i+1} TRANSMIT=0
        SET_LED LED=case_lights RED=0.0 GREEN=0.0 BLUE=0.0 INDEX={led_num-i} TRANSMIT=1
        G4 P{speed}
    {% endfor %}


[display_template case_lights_auto]
text:
    {% set led = 0.0 %}
    {% if printer.idle_timeout.state != "Idle" %}
        {% set led = 1.0 %}
    {% endif %}
    {led}, {led}, {led}, {led}


########################
# Private Toolhead Lights Macros
########################


[delayed_gcode sethotendled]
initial_duration: 1
gcode:

    _SET_TOOLHEAD_LED MODE="default"
    _SET_TOOLHEAD_STATUS_LED MODE="default"


[gcode_macro _SET_TOOLHEAD_LED]
gcode:
    {% set lights_vars = printer["gcode_macro _LIGHTS_VARS"] %}
    {% set mode = params.MODE %}

    {% if mode %}

        {% if mode not in printer["gcode_macro _LIGHTS_VARS"].colors.toolhead.keys() %}
            # If mode is not known, just use the default
            {% set mode = "default" %}
        {% endif %}

        {% set color = printer["gcode_macro _LIGHTS_VARS"].colors.toolhead.get(mode) %}
        {% set r = color.r %}
        {% set g = color.g %}
        {% set b = color.b %}
        {% set w = color.w %}

    {% else %}

        {% set r = params.R|default(lights_vars.colors.toolhead.default.r) %}
        {% set g = params.G|default(lights_vars.colors.toolhead.default.g) %}
        {% set b = params.B|default(lights_vars.colors.toolhead.default.b) %}
        {% set w = params.W|default(lights_vars.colors.toolhead.default.w) %}
    
    {% endif %}

    SET_LED LED=_hotend_led RED={r} GREEN={g} BLUE={b} WHITE={w} INDEX={lights_vars.toolhead_led_right_idx} transmit=0
    SET_LED LED=_hotend_led RED={r} GREEN={g} BLUE={b} WHITE={w} INDEX={lights_vars.toolhead_led_left_idx} transmit=1


[gcode_macro _SET_TOOLHEAD_STATUS_LED]
gcode:
    {% set lights_vars = printer["gcode_macro _LIGHTS_VARS"] %}
    {% set mode = params.MODE %}

    {% if mode %}

        {% if mode not in printer["gcode_macro _LIGHTS_VARS"].colors.logo.keys() %}
            # If mode is not known, just use the default
            {% set mode = "default" %}
        {% endif %}

        {% set color = printer["gcode_macro _LIGHTS_VARS"].colors.logo.get(mode) %}
        {% set r = color.r %}
        {% set g = color.g %}
        {% set b = color.b %}
        {% set w = color.w %}

    {% else %}

        {% set r = params.R|default(lights_vars.colors.logo.default.r) %}
        {% set g = params.G|default(lights_vars.colors.logo.default.g) %}
        {% set b = params.B|default(lights_vars.colors.logo.default.b) %}
        {% set w = params.W|default(lights_vars.colors.logo.default.w) %}

    {% endif %}
    
    SET_LED LED=_hotend_led RED={r} GREEN={g} BLUE={b} WHITE={w} INDEX={lights_vars.toolhead_led_status_idx}