#################################################
#####             Nozzle Macros             #####
#################################################

#################################################
# Public Macros
#################################################

[gcode_macro CLEAN_NOZZLE]
gcode:
  {% if "gcode_macro _NOZZLE_VARS" not in printer %}
    { action_respond_info("Nozzle cleaning variables not defined. Skipping nozzle cleaning!") }
  {% else %}

    {% if printer.toolhead.homed_axes != "xyz" %}
      { action_raise_error("Please home XYZ first") }
    {% endif %}

    {% if printer.extruder.temperature < printer["gcode_macro _NOZZLE_VARS"].min_temp %}
      { action_raise_error("Nozzle temperature is too low for cleaning") }
    {% endif %}

    {% set vars = printer["gcode_macro _NOZZLE_VARS"] %}

    {% if "xyz" not in printer.toolhead.homed_axes %}
      G28
    {% endif %}

    G90  ; absolute positioning
    ### Move nozzle to start position
    G1 X{vars.start_x} Y{vars.start_y} F9000
    G1 X{vars.x_min} Y{vars.y_min} F9000
    G1 Z{vars.start_z} F1500
    ### Wipe nozzle
    {% for wipes in range(1, (vars.wipe_qty + 1)) %} #wipe left and right
      G1 Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} F{vars.wipe_spd * 60}
      
      G1 Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} F{vars.wipe_spd * 60}
      G1 Z{vars.z1} F1500
      G1 Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} F{vars.wipe_spd * 60}
      
      G1 Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} F{vars.wipe_spd * 60}
      G1 Z{vars.z2} F1500
      G1 Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} F{vars.wipe_spd * 60}
      
      G1 Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} F{vars.wipe_spd * 60}
      
      G1 Z{vars.start_z} F1500
    {% endfor %}

    {% for wipes in range(1, (vars.wipe_qty + 1)) %} #wipe diagonally
      G1 Z{vars.start_z} F1500
      G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 Z{vars.z1} F1500
      G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 Z{vars.z1} F1500
      G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 Z{vars.z2} F1500
      G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
      G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
      G1 X{vars.start_x} Y{vars.y_min} F{vars.wipe_spd * 60}
      
      G1 Z{vars.start_z} F1500
    {% endfor %}

    G1 X{vars.start_x} Y{vars.start_y} F9000 #go back to starting position
    ## Raise nozzle
    G1 Z{vars.raise_distance} 
  
  {% endif %}