#################################################
#####             Nozzle Macros             #####
#################################################


########################
# Variables
########################

[gcode_macro _NOZZLE_VARS]
variable_start_x: 35          # starting X position - offset a bit to the left from the brush
variable_start_y: 345         # starting Y position - offset a bit to the front of the brush
variable_start_z: 9           # starting Z position - This should barely touch the surface of the brush
variable_x_min: 40            # left side of the brush 
variable_x_max: 76            # right side of the brush
variable_y_min: 355           # front side of the brush - make sure the nozzle is over the last line of bristles 
variable_y_max: 360           # rear side of the brush - make sure the nozzle is over the first line of bristles
variable_z1: 9.0              # second z height of the nozzle over the brush - this should be with the nozzle slightly sunk in
variable_z2: 8.3              # third z height of the nozzle over the brush - this should be with the nozzle fully sunk into the brush, but not touching the bottom of it.
variable_wipe_qty: 2          # how many times to run the cleaning sequence
variable_wipe_spd: 200        # cleaning speed
variable_raise_distance: 30   # z height after cleaning is done
gcode:

########################
# Public Macros
########################

[gcode_macro CLEAN_NOZZLE]
gcode:
  {% set vars = printer["gcode_macro _NOZZLE_VARS"] %}

  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}

  G90  ; absolute positioning
  ### Move nozzle to start position
  G1 X{vars.start_x} Y{vars.start_y} F9000
  G1 X{vars.x_min} Y{vars.y_min} F9000
  G1 Z{vars.start_z} F1500
  ### Wipe nozzle
  {% for wipes in range(1, (vars.wipe_qty + 1)) %} #wipe left and right
    G1 Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} F{vars.wipe_spd * 60}
    
    G1 Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} F{vars.wipe_spd * 60}
    G1 Z{vars.z1} F1500
    G1 Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} F{vars.wipe_spd * 60}
    
    G1 Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} F{vars.wipe_spd * 60}
    G1 Z{vars.z2} F1500
    G1 Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} F{vars.wipe_spd * 60}
    
    G1 Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} F{vars.wipe_spd * 60}
    
    G1 Z{vars.start_z} F1500
  {% endfor %}

  {% for wipes in range(1, (vars.wipe_qty + 1)) %} #wipe diagonally
    G1 Z{vars.start_z} F1500
    G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 Z{vars.z1} F1500
    G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
  G1 Z{vars.z1} F1500
    G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 Z{vars.z2} F1500
    G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.x_max} Y{vars.y_max} F{vars.wipe_spd * 60}
    G1 X{vars.x_min} Y{vars.y_min} F{vars.wipe_spd * 60}
    G1 X{vars.start_x} Y{vars.y_min} F{vars.wipe_spd * 60}
    
    G1 Z{vars.start_z} F1500
  {% endfor %}

  G1 X{vars.start_x} Y{vars.start_y} F9000 #go back to starting position
  ## Raise nozzle
  G1 Z{vars.raise_distance} 